body{
    width:100%;
    height: 100vh;
    display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     background-color: rgb(247, 175, 149);
} 
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color:crimson;
    border:2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 2px;
}
.calculator{
    margin-top: 10px;
     width: 400px;
     background-color:rgb(95, 81, 81);
     overflow: hidden;
     border-radius: 10px;   
}
.btns{
    display: grid;
    grid-template-columns: auto auto auto auto; 
}
input{
    width: 100%;
    background-color: rgb(175, 160, 160);
    height: 50px;
    font-size: 50px;
    font-weight: 800;
    color:beige;
    margin-top: 10px;
    font-weight: 600;
}
input:hover{
    background-color: rgb(209, 183, 150);
}
button{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: black;
    color:azure;
    padding: 10px;
    font-weight: bold;
    padding: 10px;
    gap:10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(119, 103, 103);
}
.btn{
    background-color: rgb(238, 101, 51);
}
.btn:hover{
    background-color:rgb(238, 126, 85);
}