.container{
    width: 640px;
    margin: auto;
    margin-top: 50px;
    background: rgb(227, 203, 238);
    color:dimgray;
    display: flex;
    flex-direction: column;
    gap:20px;
    border-radius: 10px;
    padding: 40px 50px;
}
.container hr{
    height: 2px;
    border: none;
    background: rgb(102, 78, 78);
}

.container h2{
    font-size: 27px;
    font-weight: 500;
}  
.container ul li{
   display: flex;
   align-items: center;
   height: 50px;
   padding-left: 15px;
   border: 1px solid #686868;
   margin-bottom: 20px;
   border-radius: 10px;
   font-size: 20px;
   cursor: pointer;
}
.container button{
    margin: auto;
    width: 200px;
    height: 50px;
    background: #553f9a;
    color:antiquewhite;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.container .index{
    margin: auto;
    font-size: 18px;
}
.container .correct{
    background: #ace0a2;
    border-color: rgb(21, 212, 69);
}
.container .wrong{
    background: #e79e9e;
    border-color: rgb(235, 62, 62);
}